
@{
    ViewBag.Title = "Error";
}


    <br />
    <div class="row">
        <div class="cdeContainer">
            <br />
            <div class="col-md-10">
                <p>We are currently fully booked for that evening.  We value your business, please try another evening.</p>
                <p>If you feel that you have received this message in error, please <a href="@Url.Action("Contact", "Home")">contact us.</a></p>
            </div>
            <br />
            <div><a href="@Url.Action("Index", "Reservations")" class="btn btn-primary rounded">Return to reservations</a></div>
        </div>
    </div>
    <br />
