@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<br />
<div class=" cdeContainer">
    <hgroup>
        <h2 class="text-error">An error occurred while processing your request.</h2>
    </hgroup>
</div>
<br />