
@{
    ViewBag.Title = "Restuarant";
}

<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="single-slider-resto mb-4 mb-md-0 owl-carousel">
                    <div class="item">
                        <div class="resto-img rounded" style="background-image: url(/Content/images/restaurant.jpg);"></div>
                    </div>
                    <div class="item">
                        <div class="resto-img rounded" style="background-image: url(/Content/images/restaurant1.jpg);"></div>
                    </div>
                    <div class="item">
                        <div class="resto-img rounded" style="background-image: url(/Content/images/restaurant2.jpg);"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 pl-md-5">
                <div class="heading-section mb-4 my-5 my-md-0">
                    <h2 class="mb-4">Harbor Lights Hotel Restaurants</h2>
                </div>
                <p>Come unwind and relax in our new, popular social hangout. A beautiful, spacious lounge where you can choose from a variety of cocktails, along with our 4 signature cocktails and 50 different hand crafted beers ib draft.</p>
                <p>Amazing restaurant that offers a mix of bar food and amazing fine dining entrees. It's perfect for dininig with your family or a dinner date for two.</p>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section ftco-menu bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <h2>Appetizers</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-xl-6 d-flex">
                <div class="pricing-entry rounded d-flex ftco-animate">
                    <div class="img" style="background-image: url(/Content/images/Menu/friedjalapenos.jpg);"></div>
                    <div class="desc p-4">
                        <div class="d-md-flex text align-items-start">
                            <h3><span>Fried Jalapenos</span></h3>
                            <span class="price">$9.00</span>
                        </div>
                        <div class="d-block">
                            <p>One pound of thinly-sliced and hand-breaded, deep-fried, and served with housemade ranch</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-6 d-flex">
                <div class="pricing-entry rounded d-flex ftco-animate">
                    <div class="img" style="background-image: url(/Content/images/Menu/friedmushrooms.jpg);"></div>
                    <div class="desc p-4">
                        <div class="d-md-flex text align-items-start">
                            <h3><span>Fried Mushrooms</span></h3>
                            <span class="price">$10.00</span>
                        </div>
                        <div class="d-block">
                            <p>Hand-breaded and deep-fried mushrooms, served with a housemade ranch</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-6 d-flex">
                <div class="pricing-entry rounded d-flex ftco-animate">
                    <div class="img" style="background-image: url(/Content/images/Menu/quesadilla.jpg);"></div>
                    <div class="desc p-4">
                        <div class="d-md-flex text align-items-start">
                            <h3><span>Quesadilla</span></h3>
                            <span class="price">$12.00</span>
                        </div>
                        <div class="d-block">
                            <p>Steak or Chicken; mozzarella cheese, caramelized onions, tomatoes, avacado, add sour cream or jalapenos for $1</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-6 d-flex">
                <div class="pricing-entry rounded d-flex ftco-animate">
                    <div class="img" style="background-image: url(/Content/images/Menu/nachos.jpg);"></div>
                    <div class="desc p-4">
                        <div class="d-md-flex text align-items-start">
                            <h3><span>Nachos</span></h3>
                            <span class="price">$9.00</span>
                        </div>
                        <div class="d-block">
                            <p>Beef or Chicken; tortilla chips with your choice of meat, queso, sour cream, green onions, grilled jalapeno peppers</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-6 d-flex">
                <div class="pricing-entry rounded d-flex ftco-animate">
                    <div class="img" style="background-image: url(/Content/images/Menu/chickenwings.jpg);"></div>
                    <div class="desc p-4">
                        <div class="d-md-flex text align-items-start">
                            <h3><span>Chicken Wings</span></h3>
                            <span class="price">$10.00</span>
                        </div>
                        <div class="d-block">
                            <p>Bone in wings hand-breaded and deep-fried to perfection with your choice of sauce - BBQ, Buffalo, Carolina, Sweet Asian</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-6 d-flex">
                <div class="pricing-entry rounded d-flex ftco-animate">
                    <div class="img" style="background-image: url(/Content/images/menu-9.jpg);"></div>
                    <div class="desc p-4">
                        <div class="d-md-flex text align-items-start">
                            <h3><span>Chicken Tenders</span></h3>
                            <span class="price">$11.00</span>
                        </div>
                        <div class="d-block">
                            <p>Five chicken tenders breaded or grilled, served with choice of your favorite dipping sauce</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section ftco-menu bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <h2>Entrees</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-xl-6 d-flex">
                <div class="pricing-entry rounded d-flex ftco-animate">
                    <div class="img" style="background-image: url(/Content/images/Menu/turkey.JPG);"></div>
                    <div class="desc p-4">
                        <div class="d-md-flex text align-items-start">
                            <h3><span>Smoked Turkey Club</span></h3>
                            <span class="price">$14.00</span>
                        </div>
                        <div class="d-block">
                            <p>Smoked turkey, ham and bacon topped with lettuce, tomatoes, monterey jack cheese piled on texas toast</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-6 d-flex">
                <div class="pricing-entry rounded d-flex ftco-animate">
                    <div class="img" style="background-image: url(/Content/images/Menu/cuban.JPG);"></div>
                    <div class="desc p-4">
                        <div class="d-md-flex text align-items-start">
                            <h3><span>Barbe-Cuban</span></h3>
                            <span class="price">$16.00</span>
                        </div>
                        <div class="d-block">
                            <p>Smoked pulled pork or sliced ham, melted swiss cheese topped with pickles and carolina barbecue sauce</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-6 d-flex">
                <div class="pricing-entry rounded d-flex ftco-animate">
                    <div class="img" style="background-image: url(/Content/images/Menu/streettacos.JPG);"></div>
                    <div class="desc p-4">
                        <div class="d-md-flex text align-items-start">
                            <h3><span>Street Tacos</span></h3>
                            <span class="price">$15.00</span>
                        </div>
                        <div class="d-block">
                            <p>Five tacos with marinated steak or chicken, piled high with lettuce, mozzarella, cilantro and lime, served with chips and salsa</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-6 d-flex">
                <div class="pricing-entry rounded d-flex ftco-animate">
                    <div class="img" style="background-image: url(/Content/images/Menu/philly.JPG);"></div>
                    <div class="desc p-4">
                        <div class="d-md-flex text align-items-start">
                            <h3><span>Philly Cheese</span></h3>
                            <span class="price">$16.00</span>
                        </div>
                        <div class="d-block">
                            <p>Beef or chicken, grilled onions, green peppers, and mushrooms with melted pepper jack cheese on a hoagie bun</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-6 d-flex">
                <div class="pricing-entry rounded d-flex ftco-animate">
                    <div class="img" style="background-image: url(/Content/images/Menu/steak.jpg);"></div>
                    <div class="desc p-4">
                        <div class="d-md-flex text align-items-start">
                            <h3><span>Sirloin Steak</span></h3>
                            <span class="price">$18.00</span>
                        </div>
                        <div class="d-block">
                            <p>8 oz certified angus sirloin steak just how you like it with mashed potatoes and our vegetable of the day</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-6 d-flex">
                <div class="pricing-entry rounded d-flex ftco-animate">
                    <div class="img" style="background-image: url(/Content/images/Menu/salmon.jpg);"></div>
                    <div class="desc p-4">
                        <div class="d-md-flex text align-items-start">
                            <h3><span>Alaskan Salmon</span></h3>
                            <span class="price">$20.00</span>
                        </div>
                        <div class="d-block">
                            <p>6 oz filet of wild caught Alaskan salmon topped with roasted parmesian garlic butter, paired with mashed potatoes and our vegetable of the day</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-6 d-flex">
                <div class="pricing-entry rounded d-flex ftco-animate">
                    <div class="img" style="background-image: url(/Content/images/Menu/shrimp.jpg);"></div>
                    <div class="desc p-4">
                        <div class="d-md-flex text align-items-start">
                            <h3><span>Salmon topped with Shrimp</span></h3>
                            <span class="price">$22.00</span>
                        </div>
                        <div class="d-block">
                            <p>6 oz filet of wild caught Alaskan salmon topped with shrimp tossed in a cajun butter sauce, served with rice and vegetable of the day</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-6 d-flex">
                <div class="pricing-entry rounded d-flex ftco-animate">
                    <div class="img" style="background-image: url(/Content/images/Menu/nystrip.jpg);"></div>
                    <div class="desc p-4">
                        <div class="d-md-flex text align-items-start">
                            <h3><span>Kansas NY Strip</span></h3>
                            <span class="price">$25.00</span>
                        </div>
                        <div class="d-block">
                            <p>12 oz NY strip raised in Kansas, grilled to perfection served with mashed potatoes and our vegetable of the day</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section ftco-menu bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <h2>Desserts</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-xl-6 d-flex">
                <div class="pricing-entry rounded d-flex ftco-animate">
                    <div class="img" style="background-image: url(/Content/images/Menu/breadpudding.JPG);"></div>
                    <div class="desc p-4">
                        <div class="d-md-flex text align-items-start">
                            <h3><span>Cinnamon Bread Pudding</span></h3>
                            <span class="price">$8.00</span>
                        </div>
                        <div class="d-block">
                            <p>Old-fashioned desert, seasoned just right with cinnamon, raisins</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-6 d-flex">
                <div class="pricing-entry rounded d-flex ftco-animate">
                    <div class="img" style="background-image: url(/Content/images/Menu/sundae.JPG);"></div>
                    <div class="desc p-4">
                        <div class="d-md-flex text align-items-start">
                            <h3><span>Ice Cream Sundae</span></h3>
                            <span class="price">$6.00</span>
                        </div>
                        <div class="d-block">
                            <p>Two scoops of ice cream topped with caramel or syrup, with whipped cream, peanuts, sprinkles, and a cherry on top</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-6 d-flex">
                <div class="pricing-entry rounded d-flex ftco-animate">
                    <div class="img" style="background-image: url(/Content/images/Menu/cheesecake.JPG);"></div>
                    <div class="desc p-4">
                        <div class="d-md-flex text align-items-start">
                            <h3><span>Cheesecake</span></h3>
                            <span class="price">$7.00</span>
                        </div>
                        <div class="d-block">
                            <p>Creamy cheesecake paired with buttery graham cracker crust and topped with blueberries and a decadent drizzle </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-6 d-flex">
                <div class="pricing-entry rounded d-flex ftco-animate">
                    <div class="img" style="background-image: url(/Content/images/Menu/smores.JPG);"></div>
                    <div class="desc p-4">
                        <div class="d-md-flex text align-items-start">
                            <h3><span>Table Side S'mores</span></h3>
                            <span class="price">$12.00</span>
                        </div>
                        <div class="d-block">
                            <p>Campfire treat brought to your table side</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
